In [43]:
import os
import glob
import numpy as np
import pandas as pd
import json
import warnings
warnings.filterwarnings('ignore')

In [44]:
path = os.getcwd()

In [45]:
os.listdir()

['.ipynb_checkpoints',
 'benchmark.csv',
 'final_out.csv',
 'input.csv',
 'mapping.csv',
 'Outputs',
 'workspace.ipynb']

In [46]:
paths = glob.glob(path+"\\"+"*.csv")
paths

['C:\\Workspaces\\CodeSpaces\\Python_Work\\Jupyter_Notebook\\Data_Collection\\benchmark.csv',
 'C:\\Workspaces\\CodeSpaces\\Python_Work\\Jupyter_Notebook\\Data_Collection\\final_out.csv',
 'C:\\Workspaces\\CodeSpaces\\Python_Work\\Jupyter_Notebook\\Data_Collection\\input.csv',
 'C:\\Workspaces\\CodeSpaces\\Python_Work\\Jupyter_Notebook\\Data_Collection\\mapping.csv']

In [47]:
benchmark_df = pd.read_csv(paths[0])
benchmark_df

,MGA,Program Name,Issuing Company,Full policy number,Policy Effective Date,Policy Expiration Date,Insured Name,Insured Address,Insured City,Insured State,...,Regulatory and defense coverage,product and operations liability,liability (Tech E&O),Liability (Professional Services),Liability (Directors and Officers),Media,Financial Theft and fraud,Reputational Damages,Cyber Extortion,Intellectual Property Theft
0,Arrowhead General Insurance Agency Inc,Arrowhead ES Primary General Liability,TSIC,TSAHGL0000025-00,06/25/2023,06/17/2024,Rego Realty Corporation,154 WESTLAND ST,HARTFORD,CT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arrowhead General Insurance Agency Inc,Arrowhead ES Primary General Liability,TSIC,TSAHGL0000025-00,06/25/2023,06/17/2024,Rego Realty Corporation,154 WESTLAND ST,HARTFORD,CT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arrowhead General Insurance Agency Inc,Arrowhead ES Primary General Liability,TSIC,TSAHGL0000025-00,06/25/2023,06/17/2024,Rego Realty Corporation,154 WESTLAND ST,HARTFORD,CT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arrowhead General Insurance Agency Inc,Arrowhead ES Primary General Liability,TSIC,TSAHGL0000025-00,06/25/2023,06/17/2024,Rego Realty Corporation,154 WESTLAND ST,HARTFORD,CT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arrowhead General Insurance Agency Inc,Arrowhead ES Primary General Liability,TSIC,TSAHGL0000025-00,06/25/2023,06/17/2024,Rego Realty Corporation,154 WESTLAND ST,HARTFORD,CT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Arrowhead General Insurance Agency Inc,Arrowhead ES Primary General Liability,TSIC,TSAHGL0000025-00,06/25/2023,06/17/2024,Rego Realty Corporation,154 WESTLAND ST,HARTFORD,CT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Arrowhead General Insurance Agency Inc,Arrowhead ES Primary General Liability,TSIC,TSAHGL0000043-00,07/31/2023,07/31/2024,TVC1 LLC,3540 N GRAPEVINE MILLS BLVD,GRAPEVINE,TX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Arrowhead General Insurance Agency Inc,Arrowhead ES Primary General Liability,TSIC,TSAHGL0000043-00,07/31/2023,07/31/2024,TVC1 LLC,3540 N GRAPEVINE MILLS BLVD,GRAPEVINE,TX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Arrowhead General Insurance Agency Inc,Arrowhead ES Primary General Liability,TSIC,TSAHGL0000043-00,07/31/2023,07/31/2024,TVC1 LLC,3540 N GRAPEVINE MILLS BLVD,GRAPEVINE,TX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Arrowhead General Insurance Agency Inc,Arrowhead ES Primary General Liability,TSIC,TSAHGL0000044-00,08/02/2023,08/02/2024,"Gateway Commons HomeownerÂs Association, Inc.",6153 N CEYLON ST,DENVER,CO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Arrowhead General Insurance Agency Inc,Arrowhead ES Primary General Liability,TSIC,TSAHGL0000044-00,08/02/2023,08/02/2024,"Gateway Commons HomeownerÂs Association, Inc.",6153 N CEYLON ST,DENVER,CO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Arrowhead General Insurance Agency Inc,Arrowhead ES Primary General Liability,TSIC,TSAHGL0000045-00,08/05/2023,08/05/2024,"Rivergate KW Management, LLC",9480 GATEWAY DR STE 101,RENO,NV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Arrowhead General Insurance Agency Inc,Arrowhead ES Primary General Liability,TSIC,TSAHGL0000045-00,08/05/2023,08/05/2024,"Rivergate KW Management, LLC",9480 GATEWAY DR STE 101,RENO,NV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Arrowhead General Insurance Agency Inc,Arrowhead ES Primary General Liability,TSIC,TSAHGL0000045-00,08/05/2023,08/05/2024,"Rivergate KW Management, LLC",9480 GATEWAY DR STE 101,RENO,NV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Arrowhead General Insurance Agency Inc,Arrowhead ES Primary General Liability,TSIC,TSAHGL0000046-00,08/09/2023,07/01/2024,Scion Group LLC,401 N MICHIGAN AVE STE 400,CHICAGO,IL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Arrowhead General Insurance Agency Inc,Arrowhead ES Primary General Liability,TSIC,TSAHGL0000046-00,08/09/2023,07/01/2024,Scion Group LLC,401 N MICHIGAN AVE STE 400,CHICAGO,IL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Arrowhead General Insurance Agency Inc,Arrowhead ES Primary General Liability,TSIC,TSAHGL0000047-00,08/16/2023,08/16/2024,"Cahill Contracting, LLC",1524 APPLING DR,MOUNT PLEASANT,SC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Arrowhead General Insurance Agency Inc,Arrowhead ES Primary General Liability,TSIC,TSAHGL0000047-00,08/16/2023,08/16/2024,"Cahill Contracting, LLC",1524 APPLING DR,MOUNT PLEASANT,SC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Arrowhead General Insurance Agency Inc,Arrowhead ES Primary General Liability,TSIC,TSAHGL0000048-00,08/19/2023,08/19/2024,RT Masonry Inc,626 1/2 BARRINGER LN STE F,WEBSTER,TX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Arrowhead General Insurance Agency Inc,Arrowhead ES Primary General Liability,TSIC,TSAHGL0000048-00,08/19/2023,08/19/2024,RT Masonry Inc,626 1/2 BARRINGER LN STE F,WEBSTER,TX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Arrowhead General Insurance Agency Inc,Arrowhead ES Primary General Liability,TSIC,TSAHGL0000049-00,08/16/2023,08/16/2024,"Premium Painting Services, Inc.",120 E STORY RD,WINTER GARDEN,FL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Arrowhead General Insurance Agency Inc,Arrowhead ES Primary General Liability,TSIC,TSAHGL0000049-00,08/16/2023,08/16/2024,"Premium Painting Services, Inc.",120 E STORY RD,WINTER GARDEN,FL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Arrowhead General Insurance Agency Inc,Arrowhead ES Primary General Liability,TSIC,TSAHGL0000050-00,08/29/2023,07/15/2024,"J Sterling Quality Roofing, Inc.",300 STERLING PLAZA DR STE 301,PONTE VEDRA,FL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Arrowhead General Insurance Agency Inc,Arrowhead ES Primary General Liability,TSIC,TSAHGL0000050-00,08/29/2023,07/15/2024,"J Sterling Quality Roofing, Inc.",300 STERLING PLAZA DR STE 301,PONTE VEDRA,FL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Plimsoll Specialty Markets LLC,Non Admitted,Transverse Specialty Insurance Company,TSBAAC 0000002-00,14-09-2022,14-09-2023,3D Aviation Inc,154 WESTLAND ST,E FARMINGDALE,NY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,"Marsh USA Chicago, Inc.,",Non Admitted,Transverse Specialty Insurance Company,TSBAAC 0000091-00,01-05-2023,01-05-2024,"Venture Travel, LLC",154 WESTLAND ST,Ketchikan,AK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,"Marsh USA Chicago, Inc.,",Non Admitted,Transverse Specialty Insurance Company,TSBAAG 0000092-00,01-05-2023,01-05-2024,"Venture Travel, LLC",154 WESTLAND ST,Ketchikan,AK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Marsh & McLennan Agency,Non Admitted,Transverse Specialty Insurance Company,TSBAAC 0000086-00,26-04-2023,26-04-2024,"Gateway Canyons Air Tours, LLC",154 WESTLAND ST,Gateway,CO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Marsh & McLennan Agency,Non Admitted,Transverse Specialty Insurance Company,TSBAAC 0000086-00,26-04-2023,26-04-2024,"Gateway Canyons Air Tours, LLC",154 WESTLAND ST,Gateway,CO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Travers & Associates,Non Admitted,Transverse Insurance Company,TIBAAN 0000037-00,29-12-2022,29-12-2023,Shoreline Aviation LLC,154 WESTLAND ST,Sandy,UT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Travers & Associates,Non Admitted,Transverse Insurance Company,TIBAAN 0000037-00,29-12-2022,29-12-2023,Shoreline Aviation LLC,3540 N GRAPEVINE MILLS BLVD,Sandy,UT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Travers & Associates,Non Admitted,Transverse Insurance Company,TIBAAN 0000037-00,30-12-2022,30-12-2023,Shoreline Aviation LLC,3540 N GRAPEVINE MILLS BLVD,Sandy,UT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Wings Insurance,Non Admitted,Transverse Insurance Company,TIBAAN 0000067-00,18-04-2023,18-04-2024,"ZMN Enterprises, LLC and Centurion Holdings, LLC",3540 N GRAPEVINE MILLS BLVD,Kila,MT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,"Halton Hall & Associates, Inc.",Non Admitted,Transverse Insurance Company,TIBAAN 0000080-00,31-03-2023,31-03-2024,Pollard Aircraft Sales Inc; Pollard Spares LLC...,6153 N CEYLON ST,Fort Worth,TX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,"Halton Hall & Associates, Inc.",Non Admitted,Transverse Insurance Company,TIBAAN 0000080-00,31-03-2023,31-03-2024,Pollard Aircraft Sales Inc; Pollard Spares LLC...,6153 N CEYLON ST,Fort Worth,TX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Wings Insurance,Non Admitted,Transverse Insurance Company,TIBAAN 000093-00,02-05-2023,02-05-2024,Rafter K LLC,9480 GATEWAY DR STE 101,Liberal,MO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Wings Insurance,Non Admitted,Transverse Insurance Company,TIBAAN 0009002-00,02-05-2023,02-05-2024,Kupau Inc,9480 GATEWAY DR STE 101,Kailua Kona,HI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Travers & Associates,Non Admitted,Transverse Insurance Company,TIBAAN 0009003-00,02-05-2023,02-05-2024,"DILO Equipment Leasing, LLC",9480 GATEWAY DR STE 101,Clearwater,FL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Wings Insurance,Non Admitted,Transverse Insurance Company,TIBAAN 0009000-00,03-05-2023,03-05-2024,"N37GD, LLC",401 N MICHIGAN AVE STE 400,Fort Myers,FL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,"Avion Insurance Agency, Inc",Non Admitted,Transverse Insurance Company,TIBAAN 0009005-00,03-05-2023,03-05-2024,"Angely Air, LLC",401 N MICHIGAN AVE STE 400,Harlingen,TX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Wings Insurance,Non Admitted,Transverse Insurance Company,TIBAAN 0000084-00,05-05-2023,05-05-2024,DamnRightITsAJet LLC,1524 APPLING DR,Kathleen,GA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Plimsoll Specialty Markets LLC,Non Admitted,Transverse Specialty Insurance Company,TSBAAC 0000002-00,14-09-2022,14-09-2023,3D Aviation Inc,1524 APPLING DR,E FARMINGDALE,NY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Travers & Associates,Non Admitted,Transverse Insurance Company,TIBAAN 0000095-00,06-05-2023,06-05-2024,J.E.A.R. Aviation Inc,626 1/2 BARRINGER LN STE F,El Paso,TX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Travers & Associates,Non Admitted,Transverse Insurance Company,TIBAAN 0009004-00,06-05-2023,06-05-2024,Alberta M. Smith,626 1/2 BARRINGER LN STE F,Payette,ID,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,"Halton Hall & Associates, Inc.",Non Admitted,Transverse Insurance Company,TIBAAN 0009001-00,11-05-2023,11-05-2024,Waytack LLC,120 E STORY RD,Bryant,AR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,Travers & Associates,Non Admitted,Transverse Insurance Company,TIBAAN 0009007-00,11-05-2023,11-05-2024,Richard Harder,120 E STORY RD,SINKING SPRING,PA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Wings Insurance,Non Admitted,Transverse Insurance Company,TIBAAN 0000094-00,15-05-2023,15-05-2024,THM Holdings LLC,300 STERLING PLAZA DR STE 301,Lake Oswego,OR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,"Avion Insurance Agency, Inc",Non Admitted,Transverse Insurance Company,TIBAAN 0000001-00,10-09-2022,10-09-2023,"Ward Aviation, LLC",300 STERLING PLAZA DR STE 301,Grand Rapids,MI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
mapping_df = pd.read_csv(paths[3], usecols=['Target','Source'])
mapping_df

                                        Target                   Source
0                                          MGA       producer_firm_name
1                                 Program Name                      NaN
2                              Issuing Company                      NaN
3                           Full policy number            policy_number
4                        Policy Effective Date    policy_effective_date
..                                         ...                      ...
98               Vehicle Identification Number                      vin
99                                 Tractor GCW                      NaN
100                               Cost of Hire                        0
101                   Specialized Vehicle Type             vehicle_type
102  Vehicle Number of Seats, Seating Capacity  rating_seating_capacity

[103 rows x 2 columns]

In [62]:
input_df = pd.read_csv(paths[2],encoding='utf-8',encoding_errors='ignore')
input_df

,uploadid,reporting_period,policy_number,expiring_policy_number,policy_effective_date,policy_expiration_date,transaction_effective_date,transaction_expiration_date,transaction_type,transaction_number,...,vin,vehicle_make,vehicle_model,vehicle_year,vehicle_type,limit_medpay,limit_pip,historical_loss_years,historical_loss_count,historical_loss_amount
0,1.0,102023.0,ASC-8398701-00,NaN,2023-08-03,2024-08-03,2023-10-24,2024-08-03,CN,1.0,...,3C63RPGL2FG591908,RAM,3500,2015.0,Truck,5000.0,NaN,1.0,NaN,NaN
1,2.0,102023.0,ASC-8398701-00,NaN,2023-08-03,2024-08-03,2023-10-24,2024-08-03,CN,1.0,...,3C63RPGL2FG591908,RAM,3500,2015.0,Truck,5000.0,NaN,1.0,NaN,NaN
2,3.0,102023.0,ASC-8398701-00,NaN,2023-08-03,2024-08-03,2023-10-24,2024-08-03,CN,1.0,...,3C63RPGL2FG591908,RAM,3500,2015.0,Truck,5000.0,NaN,1.0,NaN,NaN
3,4.0,102023.0,ASC-8398701-00,NaN,2023-08-03,2024-08-03,2023-10-24,2024-08-03,CN,1.0,...,3C63RPGL2FG591908,RAM,3500,2015.0,Truck,5000.0,NaN,1.0,NaN,NaN
4,5.0,102023.0,ASC-7563080-00,NaN,2023-08-09,2024-08-09,2023-10-25,2024-08-09,CN,1.0,...,3AKJHHDR8KSJZ3467,FREIGHTLINER,CASCADIA,2019.0,Truck,5000.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5289,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5291,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
for col, ind in enumerate(mapping_df['Target']):
    print(col,ind)

0 MGA
1 Program Name
2 Issuing Company
3 Full policy number
4 Policy Effective Date
5 Policy Expiration Date
6 Insured Name
7 Insured Address
8 Insured City
9 Insured State
10 Insured Zip
11 Transaction Effective Date
12 Transaction Expiration Date
13 Premium
14 Terrorism Premium
15 Total Gross Premium including Terrorism
16 Commission amount
17 Net Premium
18 Surcharge amount
19 Surcharge type
20 Tax Amount
21 Tax Type
22 Fee Amount
23 Fee Type
24 Payment terms
25 Book or Process Date
26 Policy Type
27 Transaction Type
28 Primary/Excess Indicator
29 Attachment Point
30 CM/Occ Indicator
31 Retroactive date
32 Risk/Location #
33 Risk/Location Address
34 Risk/Location City
35 Risk/Location State
36 Risk/Location Zip
37 Risk/Location premium
38 Technical Price
39 IRPM (Individual Risk Premium Modification)
40 Exposure Type
41 Exposure Amount
42 Policy Occurrence Limit
43 Policy Aggregate Limit
44 SIR/Deductible indicator
45 SIR/Deductible amount
46 SIR/Deductible type
47 NAICS or SIC Code
48 Annual Statement Line Code
49 Annual Statement Line Description
50 Expiring Policy Number
51 Issue Date
52 Policy Event Number
53 Companion policy number
54 Carrier %
55 Carrier Limit
56 Broker/Agent
57 Broker/Agent Address
58 Broker/Agent City
59 Broker/Agent State
60 Broker/Agent Zip
61 Direct/Assumed
62 Fac?
63 Fac Reinsurance Attachment point
64 Home State
65 SL Tax Broker Company
66 SL Tax Broker Name
67 SL Tax Broker Address
68 SL Broker City
69 SL Broker State
70 SL Broker Zip
71 SL License Number
72 NJ Transaction Number
73 Coverage Code
74 Coverage Sub Code
75 CA Limit
76 MTC Limit
77 APD Limit
78 CA Deductible Amount
79 MTC Deductible Amount
80 APD Deductible Amount
81 Rating Class Code
82 Fleet Indicator
83 Hired Car
84 Non Owned
85 Drive Other Car
86 Vehicle Number
87 Coverage Symbol
88 Cost New
89 Vehicle Body Type
90 Vehicle Type
91 Radius Of Use
92 Business Use Class
93 Gross Vehicle Weight
94 Vehicle Make
95 Vehicle Model
96 Model Year
97 Axel count
98 Vehicle Identification Number
99 Tractor GCW
100 Cost of Hire
101 Specialized Vehicle Type
102 Vehicle Number of Seats, Seating Capacity

In [64]:
input_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5293 entries, 0 to 5292
Data columns (total 64 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   uploadid                            5288 non-null   float64
 1   reporting_period                    5288 non-null   float64
 2   policy_number                       5288 non-null   object
 3   expiring_policy_number              0 non-null      float64
 4   policy_effective_date               5288 non-null   object
 5   policy_expiration_date              5288 non-null   object
 6   transaction_effective_date          5288 non-null   object
 7   transaction_expiration_date         5288 non-null   object
 8   transaction_type                    5288 non-null   object
 9   transaction_number                  5288 non-null   float64
 10  transaction_description             5288 non-null   object
 11  coverage                            5288 non-null   object
 12   written_premium_ex_tria            5288 non-null   object
 13  mga_participation                   5288 non-null   object
 14  ascot_share                         5288 non-null   float64
 15  exposure                            5108 non-null   float64
 16  exposure_basis                      5288 non-null   object
 17  line_of_business                    5288 non-null   object
 18  limit_occurrence                    5288 non-null   float64
 19  limit_aggregate                     5288 non-null   object
 20  attachment_point                    5288 non-null   float64
 21  deductible                          0 non-null      float64
 22  commission                          5288 non-null   float64
 23  schedule_modifier                   0 non-null      float64
 24  risk_location_address_1             5288 non-null   object
 25  risk_location_address_2             0 non-null      float64
 26  risk_state_code                     5288 non-null   object
 27  risk_location_zip                   5288 non-null   object
 28  insured_name                        5288 non-null   object
 29  insured_address_1                   5288 non-null   object
 30  insured_address_2                   0 non-null      float64
 31  insured_city                        5288 non-null   object
 32  insured_state                       5288 non-null   object
 33  insured_zip                         5288 non-null   object
 34  admitted_nonadmitted                5288 non-null   object
 35  producer_individual_name            5288 non-null   object
 36  producer_individual_license_number  5288 non-null   object
 37  producer_firm_license_number        5288 non-null   object
 38  producer_firm_name                  5288 non-null   object
 39  producer_address_1                  5288 non-null   object
 40  producer_address_2                  0 non-null      float64
 41  producer_city                       5288 non-null   object
 42  producer_state                      5288 non-null   object
 43  producer_zip                        5288 non-null   float64
 44  nj_sla_number                       0 non-null      float64
 45  primary_excess                      5288 non-null   object
 46  claims_basis                        5288 non-null   object
 47  rating_factor_base_rate             5288 non-null   float64
 48  rating_factor_experience            5288 non-null   float64
 49  rating_driving_radius               5288 non-null   float64
 50  rating_fleet_nonfleet               5288 non-null   float64
 51  rating_seating_capacity             5288 non-null   object
 52  rating_gross_vehicle_weight         5288 non-null   object
 53  rate                                5288 non-null   float64
 54  vin                                 5288 non-null   object
 55  vehicle_make                        5288 non-null   object
 56  vehicle_model                       5288 non-null   object
 57  vehicle_year                        5288 non-null   float64
 58  vehicle_type                        5288 non-null   object
 59  limit_medpay                        3888 non-null   float64
 60  limit_pip                           2092 non-null   float64
 61  historical_loss_years               3836 non-null   float64
 62  historical_loss_count               1372 non-null   float64
 63  historical_loss_amount              1228 non-null   float64
dtypes: float64(27), object(37)
memory usage: 2.6+ MB

In [65]:
input_df.isna().sum()

uploadid                     5
reporting_period             5
policy_number                5
expiring_policy_number    5293
policy_effective_date        5
                          ...
limit_medpay              1405
limit_pip                 3201
historical_loss_years     1457
historical_loss_count     3921
historical_loss_amount    4065
Length: 64, dtype: int64

In [74]:
input_df.iloc[0:1,:]

,uploadid,reporting_period,policy_number,expiring_policy_number,policy_effective_date,policy_expiration_date,transaction_effective_date,transaction_expiration_date,transaction_type,transaction_number,...,vin,vehicle_make,vehicle_model,vehicle_year,vehicle_type,limit_medpay,limit_pip,historical_loss_years,historical_loss_count,historical_loss_amount
0,1.0,102023.0,ASC-8398701-00,NaN,2023-08-03,2024-08-03,2023-10-24,2024-08-03,CN,1.0,...,3C63RPGL2FG591908,RAM,3500,2015.0,Truck,5000.0,NaN,1.0,NaN,NaN

In [40]:
input_df.columns

Index(['MGA', 'Program Name', 'Issuing Company', 'Full policy number',
       'Policy Effective Date', 'Policy Expiration Date', 'Insured Name',
       'Insured Address', 'Insured City', 'Insured State',
       ...
       'Regulatory and defense coverage', 'product and operations liability',
       'liability (Tech E&O)', 'Liability (Professional Services)',
       'Liability (Directors and Officers)', 'Media',
       'Financial Theft and fraud', 'Reputational Damages', 'Cyber Extortion',
       'Intellectual Property Theft'],
      dtype='object', length=170)

In [75]:
mapping_df.columns

Index(['Target', 'Source'], dtype='object')

In [76]:
benchmark_df.columns

Index(['MGA', 'Program Name', 'Issuing Company', 'Full policy number',
       'Policy Effective Date', 'Policy Expiration Date', 'Insured Name',
       'Insured Address', 'Insured City', 'Insured State',
       ...
       'Regulatory and defense coverage', 'product and operations liability',
       'liability (Tech E&O)', 'Liability (Professional Services)',
       'Liability (Directors and Officers)', 'Media',
       'Financial Theft and fraud', 'Reputational Damages', 'Cyber Extortion',
       'Intellectual Property Theft'],
      dtype='object', length=170)

In [41]:
mapping_df.Source

0           producer_firm_name
1                          NaN
2                          NaN
3                policy_number
4        policy_effective_date
                ...
98                         vin
99                         NaN
100                          0
101               vehicle_type
102    rating_seating_capacity
Name: Source, Length: 103, dtype: object

In [77]:
mapping_df.Target

0                                            MGA
1                                   Program Name
2                                Issuing Company
3                             Full policy number
4                          Policy Effective Date
                         ...
98                 Vehicle Identification Number
99                                   Tractor GCW
100                                 Cost of Hire
101                     Specialized Vehicle Type
102    Vehicle Number of Seats, Seating Capacity
Name: Target, Length: 103, dtype: object

In [80]:
# Initialize counter
count = 0
# Loop through columns in the input DataFrame
for col1 in input_df.columns:
    # Loop through columns in the mapping DataFrame
    for col2 in mapping_df['Source']:
        # Check if the current column in the input DataFrame matches any column in the mapping DataFrame
        if col1 == col2:
            # If there is a match, increment the counter and print a match message
            count += 1
            print("Matched ::: ", col1, " >> ", col2)
        else:
            # If no match, continue to the next iteration
            pass

Matched :::  policy_number  >>  policy_number
Matched :::  policy_number  >>  policy_number
Matched :::  expiring_policy_number  >>  expiring_policy_number
Matched :::  policy_effective_date  >>  policy_effective_date
Matched :::  policy_expiration_date  >>  policy_expiration_date
Matched :::  transaction_effective_date  >>  transaction_effective_date
Matched :::  transaction_effective_date  >>  transaction_effective_date
Matched :::  transaction_expiration_date  >>  transaction_expiration_date
Matched :::  transaction_type  >>  transaction_type
Matched :::  transaction_description  >>  transaction_description
Matched :::   written_premium_ex_tria   >>   written_premium_ex_tria
Matched :::  ascot_share  >>  ascot_share
Matched :::  exposure  >>  exposure
Matched :::  limit_occurrence  >>  limit_occurrence
Matched :::  limit_aggregate  >>  limit_aggregate
Matched :::  attachment_point  >>  attachment_point
Matched :::  deductible  >>  deductible
Matched :::  commission  >>  commission
Matched :::  risk_location_address_1  >>  risk_location_address_1
Matched :::  risk_state_code  >>  risk_state_code
Matched :::  risk_location_zip  >>  risk_location_zip
Matched :::  insured_name  >>  insured_name
Matched :::  insured_address_1  >>  insured_address_1
Matched :::  insured_city  >>  insured_city
Matched :::  insured_state  >>  insured_state
Matched :::  insured_zip  >>  insured_zip
Matched :::  producer_individual_name  >>  producer_individual_name
Matched :::  producer_firm_name  >>  producer_firm_name
Matched :::  producer_address_1  >>  producer_address_1
Matched :::  producer_city  >>  producer_city
Matched :::  producer_state  >>  producer_state
Matched :::  producer_zip  >>  producer_zip
Matched :::  nj_sla_number  >>  nj_sla_number
Matched :::  primary_excess  >>  primary_excess
Matched :::  claims_basis  >>  claims_basis
Matched :::  rating_driving_radius  >>  rating_driving_radius
Matched :::  rating_seating_capacity  >>  rating_seating_capacity
Matched :::  rating_gross_vehicle_weight  >>  rating_gross_vehicle_weight
Matched :::  vin  >>  vin
Matched :::  vin  >>  vin
Matched :::  vehicle_make  >>  vehicle_make
Matched :::  vehicle_model  >>  vehicle_model
Matched :::  vehicle_year  >>  vehicle_year
Matched :::  vehicle_type  >>  vehicle_type
Matched :::  vehicle_type  >>  vehicle_type

In [42]:
count

NameError: name 'count' is not defined

In [41]:
input_df.shape[1]

64

In [42]:
benchmark_df.shape[1]

170

In [43]:
len(mapping_df['Source'])

103

In [121]:
input_df2 = input_df.iloc[:1,:]
input_df2

,uploadid,reporting_period,policy_number,expiring_policy_number,policy_effective_date,policy_expiration_date,transaction_effective_date,transaction_expiration_date,transaction_type,transaction_number,...,vin,vehicle_make,vehicle_model,vehicle_year,vehicle_type,limit_medpay,limit_pip,historical_loss_years,historical_loss_count,historical_loss_amount
0,1.0,102023.0,ASC-8398701-00,NaN,2023-08-03,2024-08-03,2023-10-24,2024-08-03,CN,1.0,...,3C63RPGL2FG591908,RAM,3500,2015.0,Truck,5000.0,NaN,1.0,NaN,NaN

In [39]:
data_1.columns

NameError: name 'data_1' is not defined

In [38]:
data_1['producer_firm_name']

NameError: name 'data_1' is not defined

In [122]:
dict1 = {}
for col1 in input_df2.columns:
    #print(col1,ind)
    for ind2,col2 in enumerate(mapping_df['Source']):
        if col1 == col2:
            try:
#                 print(col1,col2)
#                 print(mapping_df['Source'][ind2])
#                 print(mapping_df['Target'][ind2])
                dict1.update({mapping_df['Target'][ind2] : input_df2[mapping_df['Source'][ind2]]})
#                 print(data_1[col2])
                break
            except Exception as e:
                print(e)

In [157]:
dict1 = {}
for i in range(input_df.shape[0]):
    for col1 in input_df.columns:
        #print(col1,ind)
        for ind2,col2 in enumerate(mapping_df['Source']):
            if col1 == col2:
                try:
    #                 print(col1,col2)
    #                 print(mapping_df['Source'][ind2])
    #                 print(mapping_df['Target'][ind2])
                    dict1.update({mapping_df['Target'][ind2] : input_df[mapping_df['Source'][ind2]]})
    #                 print(data_1[col2])
                    
                except Exception as e:
                    print(e)

In [36]:
mapping_df['Source'][0]

'producer_firm_name'

In [37]:
dict1.get('MGA')

NameError: name 'dict1' is not defined

In [35]:
dict1

NameError: name 'dict1' is not defined

In [158]:
output_df.shape

(5293, 41)

In [159]:
output_df

,Full policy number,Expiring Policy Number,Policy Effective Date,Policy Expiration Date,Transaction Effective Date,Transaction Expiration Date,Transaction Type,Policy Type,Premium,Carrier %,...,Primary/Excess Indicator,CM/Occ Indicator,Radius Of Use,"Vehicle Number of Seats, Seating Capacity",Gross Vehicle Weight,Vehicle Number,Vehicle Make,Vehicle Model,Model Year,Vehicle Type
0,ASC-8398701-00,NaN,2023-08-03,2024-08-03,2023-10-24,2024-08-03,CN,Cancellation,-138.67,100.0,...,Primary,Occurrence,0.9655,1-8,"Medium Trucks (10,000 - 20,000)",3C63RPGL2FG591908,RAM,3500,2015.0,Truck
1,ASC-8398701-00,NaN,2023-08-03,2024-08-03,2023-10-24,2024-08-03,CN,Cancellation,0,100.0,...,Primary,Occurrence,0.9655,1-8,"Medium Trucks (10,000 - 20,000)",3C63RPGL2FG591908,RAM,3500,2015.0,Truck
2,ASC-8398701-00,NaN,2023-08-03,2024-08-03,2023-10-24,2024-08-03,CN,Cancellation,-61.31,100.0,...,Primary,Occurrence,0.9655,1-8,"Medium Trucks (10,000 - 20,000)",3C63RPGL2FG591908,RAM,3500,2015.0,Truck
3,ASC-8398701-00,NaN,2023-08-03,2024-08-03,2023-10-24,2024-08-03,CN,Cancellation,-298.66,100.0,...,Primary,Occurrence,0.9655,1-8,"Medium Trucks (10,000 - 20,000)",3C63RPGL2FG591908,RAM,3500,2015.0,Truck
4,ASC-7563080-00,NaN,2023-08-09,2024-08-09,2023-10-25,2024-08-09,CN,Cancellation,26.03,100.0,...,Primary,Occurrence,1.4340,1-8,"Extra Heavy Trucks (45,001+)",3AKJHHDR8KSJZ3467,FREIGHTLINER,CASCADIA,2019.0,Truck
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5289,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5291,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [151]:
input_df.iloc[1500:1501,:].values

array([[1521.0, 102023.0, 'ASC-3727858-00', nan, '2023-10-06',
        '2024-10-06', '2023-10-06', '2024-10-06', 'NB', 0.0,
        'New Business', 'AL', '17597.83', '0%', 100.0, 1.0, 'Vehicles',
        'Auto Liability', 1000000.0, '$2,000,000', 0.0, nan, 3079.62,
        nan, '12410 SW 188th Terr', nan, 'FL', '33177', "GRANADO'S CORP",
        '12410 SW 188th Terr', nan, 'MIAMI', 'FL', '33177',
        'Non Admitted', 'Cover Whale Insurance Solutions Inc.',
        '0M87896', '0M87896', 'Daniel Abrahamsen', '9584 Greensburg Ave',
        nan, 'Las Vegas', 'Nevada', 89178.0, nan, 'Primary',
        'Occurrence', 6824.0, 1.04, 1.485, 0.95, '1-8',
        'Medium Trucks (10,000 - 20,000)', 17597.83, '3C63RRKL7JG214843',
        'RAM', '3500', 2018.0, 'Truck', nan, 10000.0, 3.0, nan, nan]],
      dtype=object)

In [153]:
output_df.iloc[1500:1501,:].values

array([['ASC-3727858-00', nan, '2023-10-06', '2024-10-06', '2023-10-06',
        '2024-10-06', 'NB', 'New Business', '17597.83', 100.0, 1.0,
        1000000.0, '$2,000,000', 0.0, nan, 3079.62,
        '12410 SW 188th Terr', 'FL', '33177', "GRANADO'S CORP",
        '12410 SW 188th Terr', 'MIAMI', 'FL', '33177',
        'Cover Whale Insurance Solutions Inc.', 'Daniel Abrahamsen',
        '9584 Greensburg Ave', 'Las Vegas', 'Nevada', 89178.0, nan,
        'Primary', 'Occurrence', 1.485, '1-8',
        'Medium Trucks (10,000 - 20,000)', '3C63RRKL7JG214843', 'RAM',
        '3500', 2018.0, 'Truck']], dtype=object)

In [156]:
pd.concat([output_df.iloc[1500:1501,:],input_df.iloc[1500:1501,:]],join='outer')

,Full policy number,Expiring Policy Number,Policy Effective Date,Policy Expiration Date,Transaction Effective Date,Transaction Expiration Date,Transaction Type,Policy Type,Premium,Carrier %,...,vin,vehicle_make,vehicle_model,vehicle_year,vehicle_type,limit_medpay,limit_pip,historical_loss_years,historical_loss_count,historical_loss_amount
1500,ASC-3727858-00,NaN,2023-10-06,2024-10-06,2023-10-06,2024-10-06,NB,New Business,17597.83,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3C63RRKL7JG214843,RAM,3500,2018.0,Truck,NaN,10000.0,3.0,NaN,NaN

In [126]:
output_df = pd.DataFrame(dict1)
output_df.to_csv('output_df.csv')

In [58]:
mapping_df['Target']

0                                            MGA
1                                   Program Name
2                                Issuing Company
3                             Full policy number
4                          Policy Effective Date
                         ...
98                 Vehicle Identification Number
99                                   Tractor GCW
100                                 Cost of Hire
101                     Specialized Vehicle Type
102    Vehicle Number of Seats, Seating Capacity
Name: Target, Length: 103, dtype: object

In [34]:
mapping_df['Source']

0           producer_firm_name
1                          NaN
2                          NaN
3                policy_number
4        policy_effective_date
                ...
98                         vin
99                         NaN
100                          0
101               vehicle_type
102    rating_seating_capacity
Name: Source, Length: 103, dtype: object

In [32]:
dict2 = {}
dict2

{}

In [33]:
dict2.update({mapping_df['Source'][0]:data_1[0]})

NameError: name 'data_1' is not defined

In [104]:
mapping_df['Source'][0]

'producer_firm_name'

In [107]:
data_1[mapping_df['Source'][0]][0]

'Daniel Abrahamsen'

In [168]:
input_df['coverage']

0           AL
1          PIP
2       MedPay
3       UM/UIM
4           AL
         ...
5288       NaN
5289       NaN
5290       NaN
5291       NaN
5292       NaN
Name: coverage, Length: 5293, dtype: object

In [169]:
output_df['CM/Occ Indicator']

0       Occurrence
1       Occurrence
2       Occurrence
3       Occurrence
4       Occurrence
           ...
5288           NaN
5289           NaN
5290           NaN
5291           NaN
5292           NaN
Name: CM/Occ Indicator, Length: 5293, dtype: object

In [170]:
input_df['claims_basis']

0       Occurrence
1       Occurrence
2       Occurrence
3       Occurrence
4       Occurrence
           ...
5288           NaN
5289           NaN
5290           NaN
5291           NaN
5292           NaN
Name: claims_basis, Length: 5293, dtype: object

In [171]:
input_df['producer_firm_name']

0       Daniel Abrahamsen
1       Daniel Abrahamsen
2       Daniel Abrahamsen
3       Daniel Abrahamsen
4       Daniel Abrahamsen
              ...
5288                  NaN
5289                  NaN
5290                  NaN
5291                  NaN
5292                  NaN
Name: producer_firm_name, Length: 5293, dtype: object

In [172]:
output_df['MGA']

0       Daniel Abrahamsen
1       Daniel Abrahamsen
2       Daniel Abrahamsen
3       Daniel Abrahamsen
4       Daniel Abrahamsen
              ...
5288                  NaN
5289                  NaN
5290                  NaN
5291                  NaN
5292                  NaN
Name: MGA, Length: 5293, dtype: object

In [173]:
input_df['insured_state']

0        GA
1        GA
2        GA
3        GA
4        CA
       ...
5288    NaN
5289    NaN
5290    NaN
5291    NaN
5292    NaN
Name: insured_state, Length: 5293, dtype: object

In [174]:
output_df['Insured State']

0        GA
1        GA
2        GA
3        GA
4        CA
       ...
5288    NaN
5289    NaN
5290    NaN
5291    NaN
5292    NaN
Name: Insured State, Length: 5293, dtype: object

In [175]:
output_df.to_csv('mapping_output.csv',index=False)

In [176]:
mapping_df['Target']

0                                            MGA
1                                   Program Name
2                                Issuing Company
3                             Full policy number
4                          Policy Effective Date
                         ...
98                 Vehicle Identification Number
99                                   Tractor GCW
100                                 Cost of Hire
101                     Specialized Vehicle Type
102    Vehicle Number of Seats, Seating Capacity
Name: Target, Length: 103, dtype: object

In [177]:
df_10 = pd.DataFrame([],columns=mapping_df['Target'])

In [178]:
df_10

Empty DataFrame
Columns: [MGA, Program Name, Issuing Company, Full policy number, Policy Effective Date, Policy Expiration Date, Insured Name, Insured Address, Insured City, Insured State, Insured Zip, Transaction Effective Date, Transaction Expiration Date, Premium, Terrorism Premium, Total Gross Premium including Terrorism, Commission amount, Net Premium, Surcharge amount, Surcharge type, Tax Amount, Tax Type, Fee Amount, Fee Type, Payment terms, Book or Process Date, Policy Type, Transaction Type, Primary/Excess Indicator, Attachment Point, CM/Occ Indicator, Retroactive date, Risk/Location #, Risk/Location Address, Risk/Location City, Risk/Location State, Risk/Location Zip, Risk/Location premium, Technical Price, IRPM (Individual Risk Premium Modification), Exposure Type, Exposure Amount, Policy Occurrence Limit, Policy Aggregate Limit, SIR/Deductible indicator, SIR/Deductible amount, SIR/Deductible type, NAICS or SIC Code, Annual Statement Line Code, Annual Statement Line Description, Expiring Policy Number, Issue Date, Policy Event Number, Companion policy number, Carrier %, Carrier Limit, Broker/Agent, Broker/Agent Address, Broker/Agent City, Broker/Agent State, Broker/Agent Zip, Direct/Assumed, Fac?, Fac Reinsurance Attachment point, Home State, SL Tax Broker Company, SL Tax Broker Name, SL Tax Broker Address, SL Broker City, SL Broker State, SL Broker Zip, SL License Number, NJ Transaction Number, Coverage Code, Coverage Sub Code, CA Limit, MTC Limit, APD Limit, CA Deductible Amount, MTC Deductible Amount, APD Deductible Amount, Rating Class Code, Fleet Indicator, Hired Car, Non Owned, Drive Other Car, Vehicle Number, Coverage Symbol, Cost New, Vehicle Body Type, Vehicle Type, Radius Of Use, Business Use Class, Gross Vehicle Weight, Vehicle Make, Vehicle Model, Model Year, Axel count, Vehicle Identification Number, Tractor GCW, ...]
Index: []

[0 rows x 103 columns]

In [180]:
out = pd.concat([df_10,output_df],ignore_index=True)
out.to_csv('final.csv',index=False)

In [5]:
final_out = pd.concat([benchmark_df,out],join='outer',ignore_index=True)
final_out.to_csv('final_out.csv',index=False)

NameError: name 'pd' is not defined

In [187]:
benchmark_df.columns

Index(['MGA', 'Program Name', 'Issuing Company', 'Full policy number',
       'Policy Effective Date', 'Policy Expiration Date', 'Insured Name',
       'Insured Address', 'Insured City', 'Insured State',
       ...
       'Regulatory and defense coverage', 'product and operations liability',
       'liability (Tech E&O)', 'Liability (Professional Services)',
       'Liability (Directors and Officers)', 'Media',
       'Financial Theft and fraud', 'Reputational Damages', 'Cyber Extortion',
       'Intellectual Property Theft'],
      dtype='object', length=170)

In [183]:
mapping_df

                                        Target                   Source
0                                          MGA       producer_firm_name
1                                 Program Name                      NaN
2                              Issuing Company                      NaN
3                           Full policy number            policy_number
4                        Policy Effective Date    policy_effective_date
..                                         ...                      ...
98               Vehicle Identification Number                      vin
99                                 Tractor GCW                      NaN
100                               Cost of Hire                        0
101                   Specialized Vehicle Type             vehicle_type
102  Vehicle Number of Seats, Seating Capacity  rating_seating_capacity

[103 rows x 2 columns]

In [1]:
final_out.columns

NameError: name 'final_out' is not defined