In [1]:
import pandas as pd

In [7]:
name='insured[0].Address.CountryCode'

In [8]:
name=name.split('.')
name

['insured[0]', 'Address', 'CountryCode']

In [9]:
idx=name[0].split('[')[-1].strip(']')
idx

'0'

In [21]:
empty={}
x='12321'
dict1={name[-1]:x}
dict2={name[1]:dict1}
dict3={idx:dict2}
empty[name[0].split('[')[0]]=dict3
#empty[name[0].split('[')[0]]=
print(empty,dict1,dict2,dict3,empty)
#empty[name[0].split('[')[0]][int(idx)] [name[1]][name[-1]]='12321'

{'insured': {'0': {'Address': {'CountryCode': '12321'}}}} {'CountryCode': '12321'} {'Address': {'CountryCode': '12321'}} {'0': {'Address': {'CountryCode': '12321'}}} {'insured': {'0': {'Address': {'CountryCode': '12321'}}}}

In [22]:
empty['insured']['adress']='wrong'
empty

{'insured': {'0': {'Address': {'CountryCode': '12321'}}, 'adress': 'wrong'}}

In [10]:
import pyodbc
import time

# Define your database connection parameters
server='10.130.205.31',
database='IMS_Base',
username='ims_kmg_dev',
password='the5.Guide.jested.a.fact.fools.the1.vestibule',

driver = 'ODBC Driver 17 for SQL Server'

# Connect to the database
connection_string = f'DRIVER={driver};SERVER={server};DATABASE={database};UID={username};PWD={password}'
conn = pyodbc.connect(connection_string)
cursor = conn.cursor()

# Function to fetch and process updated data
def process_updated_data():
    # Fetch the total number of records in the table
    total_records_query = "SELECT COUNT(*) FROM ChangeLog"
    cursor.execute(total_records_query)
    total_records = cursor.fetchone()[0]
    print(f"Total records in the table: {total_records}")
    # Execute your SQL query to fetch the updated data
    query = """
            SELECT Column1, Column2, ... FROM ChangeLog
            """
    cursor.execute(query)
    
    # Fetch the updated data
    updated_data = cursor.fetchall()
    
    # Process the updated data
    for row in updated_data:
        # Perform your processing tasks here
        print(row)  # Example: printing the updated data
        
    # Commit the transaction
    conn.commit()

# Main loop to continuously check for updates
while True:
    try:
        # Check for updates every 'n' seconds
        process_updated_data()
        time.sleep(10)  # Adjust the interval as needed
    except KeyboardInterrupt:
        print("Process interrupted. Exiting...")
        break

# Close the database connection
conn.close()

OperationalError: ('08001', '[08001] [Microsoft][ODBC Driver 17 for SQL Server]SQL Server Network Interfaces: Connection string is not valid [87].  (87) (SQLDriverConnect); [08001] [Microsoft][ODBC Driver 17 for SQL Server]Login timeout expired (0); [08001] [Microsoft][ODBC Driver 17 for SQL Server]A network-related or instance-specific error has occurred while establishing a connection to SQL Server. Server is not found or not accessible. Check if instance name is correct and if SQL Server is configured to allow remote connections. For more information see SQL Server Books Online. (87)')

In [1]:
import pyodbc

# Get a list of installed ODBC drivers
drivers = pyodbc.drivers()

if drivers:
    print("Installed ODBC drivers:")
    for driver in drivers:
        print(driver)
else:
    print("No ODBC drivers found.")

Installed ODBC drivers:
SQL Server
Microsoft Access Driver (*.mdb, *.accdb)
Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)
Microsoft Access Text Driver (*.txt, *.csv)
Devart ODBC Driver for MongoDB
SQL Server Native Client RDA 11.0
ODBC Driver 17 for SQL Server

In [5]:
import pymongo
import pandas as pd
from pandas import json_normalize
# Connect to MongoDB
client = pymongo.MongoClient("mongodb://localhost:27017/")  # Update the connection string with your MongoDB URI
db = client["stage_0"]  # Replace "your_database_name" with your actual database name
collection = db["Quote"]  # Replace "your_collection_name" with your actual collection name

# Query data from MongoDB collection
cursor = collection.find({})

# Convert cursor to list of dictionaries
data = list(cursor)

# Create DataFrame
df = pd.DataFrame(data)

nested_columns = ['insured']
for column in nested_columns:
    df = pd.concat([df.drop(column, axis=1), json_normalize(df[column], max_level=1, record_prefix=column + '.')], axis=1)

# Close the MongoDB connection
client.close()

# Example preprocessing operations
# Handle missing values
df.fillna(0, inplace=True)

# Apply transformations
#df['new_column'] = df['existing_column'] * 2

# Print the DataFrame
df.head()

,_id,AuditableRequestId,CreatedDateTime,EffectiveDate,ExpirationDate,Number,QuoteId,TotalPremium,address,location,...,Address.CountryCode,Address.Line1,Address.PostalCode,Address.StateOrProvinceName,Business.NAICS,Business.SIC,0.Address,0.CountryCode,0.GivenName,0.Surname
0,65c9f9a4b9fd1fc9c8932d6a,True,2020-10-26 11:27:19.980,2020-10-26 11:27:00,2021-10-26 11:27:00,0,1,0,{'0': {'StateOrProvinceCode': 'AL'}},{'StateOrProvinceCode': 'AL'},...,USA,123 Main Street,10022,NY,0,0,"{'City': 'New York', 'CountryCode': 'USA', 'Li...",USA,0,0
1,65c9f9a4b9fd1fc9c8932d6b,True,2023-09-26 15:25:08.783,2020-10-26 11:27:00,2021-10-26 11:27:00,0,3,0,{'0': {'StateOrProvinceCode': 'AL'}},{'StateOrProvinceCode': 'AL'},...,USA,123 Main Street,10022,NY,0,0,"{'City': 'New York', 'CountryCode': 'USA', 'Li...",USA,0,0
2,65c9f9a4b9fd1fc9c8932d6c,True,2023-11-28 12:31:03.027,2023-11-28 12:31:00,2024-11-28 12:31:00,0,4,0,{'0': {'StateOrProvinceCode': 'AL'}},{'StateOrProvinceCode': 'AL'},...,USA,"78, test street",00601,PR,0,0,"{'City': 'Adjuntas', 'CountryCode': 'USA', 'Li...",USA,test,case
3,65c9f9a4b9fd1fc9c8932d6d,True,2023-11-28 13:40:44.963,2023-11-28 13:41:00,2024-11-28 13:41:00,0,5,0,{'0': {'StateOrProvinceCode': 'AL'}},{'StateOrProvinceCode': 'AL'},...,USA,"78, test street",00601,PR,0,0,"{'City': 'Adjuntas', 'CountryCode': 'USA', 'Li...",USA,test,case
4,65c9f9a4b9fd1fc9c8932d6e,True,2023-12-09 00:15:19.023,2023-12-09 00:15:00,2024-12-09 00:15:00,0,6,0,{'0': {'StateOrProvinceCode': 'AL'}},{'StateOrProvinceCode': 'AL'},...,USA,125 BAYLIS RD,,Ne,0,0,"{'City': 'MELVILLE', 'CountryCode': 'USA', 'Li...",USA,John Doe,0